@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


:root {
    --dark-color: #831843;
    --light-color: #F9A8D4;
}

* {
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}



.container {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--dark-color);
}

h1,
p {
    color: white;
}


label {
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    color: var(--light-color);



}

input {
    width: 100%;
    padding: 1rem;
    height: 20px;
    display: block;
}

button {
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    margin: 1rem auto 0;
    font-weight: bold;
}


.second {
    display: none;
}

.change-Return {
    display: none;
}

table,
th,
td {
    padding: 0.2rem;
    color: var(--dark-color);
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-collapse: collapse;
}

table {
    width: 100%;
    table-layout: fixed;
}